@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: var(--dark);
    font-family: var(--poppins);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
.container{
    width:100%;
    max-width:150rem;
    margin:0 auto;
    padding: 0 5rem;
}
/* HEADER */
.header{
    /* p3rem0 */
    padding: 3rem 0;
    /* bgc */
    background-color: var(--light);
}
.header_wrapper{
    /* df */
    display: flex;
    justify-content: space-between;
}
/* magtatabi si logo at nav */
.header_left{
    display: flex;
        /* y axis  x axis is justify content*/
    align-items: center;
}
.header_left img{
    width:10rem;
}
.header_left ul{
    display: flex;
    gap:3rem;
}
/* changing colors of nav */
.header_left ul li a{
color:var(--dark);
font-weight:500;
}
.header_left ul li a:hover{
color:var(--green);
}
.header_right{
    display: flex;
    align-items: center;
    /* space of let's talk and icons */
    gap:5rem;
}
.header_right ul{
    display: flex;
    gap:3rem;
}
.header_right ul li a{
    color:var(--dark);
    font-weight:500;
    }
    .header_right ul li a:hover{
    color:var(--green);
    }
    /* BANNER */
    .banner{
      background-color: var(--gray);
      padding-top: 5rem;
    }
    .banner_wrapper{
      display: flex;
    }
    .banner_left{
      padding-left: 15rem;
      padding-top: 25rem;
    }
    .banner_left h1{
      font-size: 10rem;
      line-height: 1;
      font-weight: 700;
      margin-top: 2rem;
    }
    .banner_right{
      position: relative;
      left: 25rem;
      top: 0;
    }
    .banner_right img{
      width:100rem;
      height: 70rem;
    }
  .banner_left span{
    color:var(--green);
  }
  /* MY ABOUT */
  /* ABOUT ME */
  /* .about-me{
    background-color: var(--light);
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .about-me_wrapper{
    display: flex;
  }
  .about-me_left img{
    width:80rem;
    height:52rem;
  }
.about-me_left{
 margin-top: -5rem;
 padding-left:17rem;
}
.about-me_right{
    padding-left: 15rem;
    padding-top: 0rem;
    margin-right:0rem;
  }
  .about-me_right span{
    font-weight:700;
  }
  .about-me_right h1{
    font-size: 7rem;
    line-height: 1;
    font-weight: 500;
    margin-top: 2rem;
  }
  .about-me_right p{
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 2rem;
    max-width:90%;
    margin-bottom:3rem;
  }
  .about-me_right ul{
    display: flex;
    gap:4.6rem;
    margin-bottom:2rem;
    font-size:1.8rem;
}
.about-me_right ul li a{
    color:var(--dark);
    font-weight:600;
    
}
.about-me_right ul li a:hover{
    color:var(--green);
    text-decoration-color: var(--green);
    text-decoration: underline;
    text-decoration-thickness: .2rem;
}
.about-me_right h2{
font-size:1.8rem;
font-weight:600;
}
.about-me_right h2 span{
  font-size:1.8rem;
  font-weight:normal;
  }
.about-me_right h3{
margin-top:0rem;
margin-bottom:3rem;
} */
/* Ma'am's ABOUT */
.about{
  padding-bottom: 5rem;
}
.about__wrapper{
  display: grid;
  grid-template-columns: 50rem 1fr;
  gap: 5rem;
}
.about__left{
  padding-left: 17rem;
}
.about__left img{
  width: 60rem;
  border-radius: 1rem;
  transform: translateY(-4.5rem);
}
.about__right{
  padding-top: 4rem;
}
.about__right h3{
  font-size: 7rem;
  font-weight: 500;
}
.about__right p{
  max-width: 70rem;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about__right span{
  font-weight: 700;
}
.about__title{
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about__title li{
  display: inline-block;
}
.about__title li::after{
  content: " ";
  width: 0px;
  height: 2px;
  background-color: var(--gray);
  transition: 300ms;
  display: block;
}
.about__title li:hover::after{
  width: 100%;
}
.about__main-skills{
  font-weight: 600;
}
.about__main-skills li{
  display: flex;
}
.about__main-skills li span{
  font-weight: 300;
}
.about__main-desc{
  font-weight: 300;
  margin-bottom: 2rem;
}
 /* DESIGN FOR JAVASCRIPT */
.about__title li:first-child.open{
  color: var(--green);
  text-decoration: underline;
  text-underline-offset: 7px;
}
.about__main-skills{
  display: none;
}
.about__main-skills.open{
  display: block;
  
}
/* SERVICES */
.services{
  padding:5rem 0;
}
.services_title{
  text-align: center;
}
.services_title h3{
font-size: 5rem;
font-weight: 500;
margin-bottom:2rem;
}
.services_title p{
  font-size: 2rem;
  font-weight: 300;
  /* for space */
  margin-bottom: 2rem;
}
/* paghihiwalay ng cards */
.services_wrapper{
  display: grid;
  grid-template-columns: 30rem 30rem 30rem;
  gap: 3rem;
  align-content: center;
  justify-content: center;
 }
/* pagporma ng cards */
.services_card{
  /* bg ng cards */
  background-color: var(--gray);
  padding:4rem;
  border-radius:1rem;
  /* para center na lahat ng nasa cards */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
/* for icons */
.services_card span{
  color: var(--green);
  font-size: 3rem;;
  margin-bottom: 1rem;
  margin-right: 18.5rem ;
}
/* for words under icons */
.services_card h4{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services_card p{
  font-weight: 300;
  max-width:20rem;
  text-align: left;
  margin-right: 8%;
}
/* CLIENTS */
.client{
  padding:5rem 0;
}
.client_title{
  text-align: center;
}
.client_title h3{
font-size: 5rem;
font-weight: 700;
margin-bottom:2rem;
}
.client_title p{
  font-size: 2rem;
  font-weight: 300;
  /* for space */
  margin-bottom: 5rem;
}
.client_card img{
  height: 100%;
  width:100%
}
.client_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:0rem;
}
.client_card{
  background-color: var(--gray);
  border-radius:1rem;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  border: 1px solid var(--gray);
}
/* PROJECTS */
.project{
  padding:5rem 0;
}
.project_title{
  text-align: center;
}
.project_title h3{
font-size: 5rem;
font-weight: 700;
margin-bottom:2rem;
}
.project_title p{
  font-size: 2rem;
  font-weight: 300;
  /* for space */
  margin-bottom: 5rem;
}
/* paghihiwalay ng cards */
.project_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:3rem;
  margin: 0 auto;

}
/* pagporma ng cards */
.project_card{
 display: flex;
 flex-direction:column;
 justify-content: center;
 align-items: center;
}
.project_card img{
  height: 100%;
  width:100%;
  filter: brightness(50%);
}
.project_card span{
  color:var(--light);
  position:absolute;
  margin-top:-10rem;

}
.project_card h4{
  color:var(--light);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight:600;
  margin-top:6.8rem;
  position:absolute;
  text-align: center;
}
.project_card a{
  color:var(--light);
  font-weight:500;
  position:absolute;
  margin-top:23rem;
  border: 3px solid var(--light);

  }
  .project_card a:hover{
  color:var(--mintgreen);
  border: 3px solid var(--mintgreen);
  }
  /* HIRE ME */
  .hire{
    padding-bottom: 5rem;
  }
  .hire_wrapper{
    display: grid;
    grid-template-columns: 51rem 1fr;
    gap: -50rem;
  }
  .hire_left{
    padding-top: 4rem;
  }
  .hire_left h6{
    font-size: 7rem;
    font-weight: 600;
    margin-bottom:1.5rem;
  }
  .hire_left small{
    max-width: 70rem;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height:1.7;
    color:var(--darkgray)
  }
  .hire_left span{
    font-weight: 700;
    color:var(--dark);
  }
  .hire_left ul{
    margin-top:5rem;
  }
  .hire_left ul li{
    font-size: 1.5rem;
    display: block;
    line-height:3;
    margin-top:3rem;
    padding-left:2rem;
    border: 2px solid var(--gray);
  }
  .hire_left ul un{
    font-size: 1.5rem;
    display: block;
    line-height:3;
    margin-top:3rem;
    padding-left:2rem;
    padding-bottom:5.5rem;
    border: 2px solid var(--gray);
  }
  .hire_left a{
    color:var(--light);
    font-weight:500;
    position:absolute;
    margin-top:3rem;
    border: 3px solid var(--green);
    background-color: var(--green);
    width:14%;  
    text-align: center;
    }
    .hire_left a:hover{
    color:var(--dark);
    border: 3px solid var(--dark);
    }
    .hire_right img{
      margin-top:10rem;
      width:100rem;
      height:63rem;
    }
  .hire_right{
   margin-top: -5rem;
   padding-left:17rem;
   margin-bottom:23rem;
  }
  /* FOOTER */
  .footer{
    /* p3rem0 */
    padding: 2rem 0;
    /* bgc */
    background-color: var(--dark);
}
.footer_wrapper{
    /* df */
    display: flex;
    justify-content: space-between;
}
.footer_left{
    display: flex;
    align-items: center;
}
.footer_left img{
    width:9rem;
    border-radius: 50%;
    border:2px solid var(--light);
}
.footer_right ul{
  display: flex;
  gap:3rem;
  color:var(--light);
  margin-top:2.4rem;
  margin-left:43rem;
}
.footer_right ul li a{
  display: flex;
  gap:3rem;
  color:var(--light);
  font-size:2rem;
  border-radius: 50%;
  border:2px solid var(--light);
  padding:1rem 1rem;
}
.footer_right ul li a:hover{
  color:var(--mintgreen);
  border:2px solid var(--mintgreen);
}
.footer_copyright{
  display:flex;
  color:var(--light);
  font-size:1rem;
  margin-top:4rem;
  margin-left:37rem;
}

  /* REPEATABLE PATTERNS */
    :root{
    --green: #7d9a68;
    --light: #ffffff;
    --dark: #2b2b2b;
    --gray: #D3D3D3;
    --mintgreen:#6ACCBC;
    --darkgray:#707172;
    --poppins: "Poppins", sans-serif;
  }
  /* dito lagi kapag button */
  .btn{
    background-color: transparent;
    border:transparent;
    border-radius:1rem;
    /* space sa border */
    padding:1rem 2rem;
    color:transparent;
  }
  /* declared sa html */
  .btn.bg--border-dark{
background-color: var(--light);
border: 1px solid var(--dark);
color:var(--dark);
  }
  .btn.bg--border-light{
    background-color: transparent;
    border: 2px solid var(--light);
    color:var(--light);
  }
  .btn bg-border-light{
    background-color: var(--green)
    border:2px solid var(var(--green));
    color:var(--green);
  }